<%- include ("../layouts/homeHeader") %>

    <% if(isMyChannel) { %>
        <form method="POST" action="/change-profile-picture" enctype="multipart/form-data" id="form-change-profile-picture">
            <input type="file" id="input-file-change-profile-picture" style="display:none;" accept=".jpg, .jpeg, .png" name="image" required onchange="document.getElementById('form-change-profile-picture').submit();">
            <input type="hidden" name="profileImage" value="<%= user.image %>">
        </form>

        <form method="POST" action="/change-cover-picture" enctype="multipart/form-data" id="form-change-cover-picture">
            <input type="file" id="input-file-change-cover-photo" style="display: none;" accept=".jpg, .jpeg, .png" name="coverimage" required onchange="document.getElementById('form-change-cover-picture').submit();">  
            <input type="hidden" name="CoverImage" value="<%= user.coverPhoto %>">
        </form>

    <% } %>

    <style>
        .cover-photo{
            width: 100%;
            height: 20em;
        }
        .profile-photo {
            width: 150px;
            height: 150px;
            border-radius: 50%;
            object-fit: cover;
        }
    </style>

    <div class="container-fluid">

        <div class="">
            <% if(isMyChannel) { %>
                <img src="<%= baseUrl + user.coverPhoto %>" style="cursor: pointer;"  class="img-fluid cover-photo" onerror="this.src = 'https://via.placeholder.com/1900x700'" onclick="document.getElementById('input-file-change-cover-photo').click();">
            <% } else { %>
                <img src="<%= baseUrl + user.coverPhoto %>" class="img-fluid cover-photo" onerror="this.src = 'https://via.placeholder.com/1900x700'">
            <% } %>
        </div>
        <div class="container my-4">
            <div class="row">
                <div class="col-md-2">
                    <% if(isMyChannel) { %>
                        <img src="<%= baseUrl + user.image %>" style="cursor:pointer;" class="img-fluid profile-photo" onerror="this.src = 'https://via.placeholder.com/150x150'" onclick="document.getElementById('input-file-change-profile-picture').click();">
                    <% } else { %>
                        <img src="<%= baseUrl + user.image %>" class="img-fluid profile-photo" onerror="this.src = 'https://via.placeholder.com/1900x700'">
                    <% } %>
                </div>

                <div class="col-md-8">
                    <h3> <%= user.name %> </h3>
                    <p> <%= user.subscribers %> subscribers </p>
                </div>
            </div>

            <!-- playlist creation -->
            <% if(isMyChannel) { %>
                <form method="POST" action="/create-playlist">
                    <div class="form-group">
                        <label>Playlist title</label>
                        <input type="text" name="title" class="form-control" required>
                    </div>
                    <input type="submit" class="btn btn-primary" value="Add Playlist">
                </form>
            <% } %>
             

            <!-- Playlists : to display all playlists -->
            <div class="row my-4">
                <% 
                    user.playlists = user.playlists.reverse();
                    user.playlists.forEach(function(playlist) {
                %>
                    <div class="col-md-4">
                        <div class="card h-100">
                            <div class="card-body">
                                <h3> <%= playlist.title %> </h3>
                            </div>
                            <div class="card-footer">
                                <% if(playlist.videos.length > 0) { %>
                                    <a target="_blank" href="/playlist/<%= playlist._id %>/<%= playlist.videos[0].watch %>" class="btn btn-primary">View</a>
                                <% } else { %>
                                    <span>Playlist is empty.</span>
                                <% } %>
                                
                                <!-- delete playlist -->
                                <% if(isMyChannel) { %>
                                    <form method="POST" action="/delete-playlist" onsubmit="return confirm('Are you sure you want to delete this playlist ?');" style="display:contents;">
                                        <input type="hidden" name="_id" value="<%= playlist._id %>">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                    </div> 
                <% }) %>
            </div>

            <hr>

            <h1>Channel Videos</h1>
            <hr>

            <div class="row">

                <% user.videos = user.videos.reverse(); %> 

                <% user.videos.forEach(function(video) { %> 
                    <div class="col-md-4">
                        <div class="card h-100">
                            <img width="100%" height="200" class="card-img-top" src="<%= video.thumbnail %>">
                            <div class="card-body">
                                <h4 class="card-title"> <%= video.title %> </h4>
                                <p class="card-text"> <%= video.category %> </p> 
                            </div>
                            <div class="card-footer">
                                <a href="/watch/<%= video.watch %>" class="btn btn-primary" target="_blank">View</a>
                                <% if(isMyChannel) { %>
                                    <a class="btn btn-warning" href="/edit/<%= video.watch %>">
                                        Edit
                                    </a>

                                    <form method="POST" action="/delete-video" onsubmit="return confirm('Are you sure you want to delete?');" style="display: contents;">
                                        <input type="hidden" name="_id" value="<%= video._id %>">
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>

                                <% } %>
                            </div>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>

<%- include ("../layouts/homeFooter") %>